{% extends 'base.html' %}

{% block content %}
<h1>Gráfico de Ventas por Departamento</h1>
<canvas id="ventasChart" width="400" height="200"></canvas>
<script>
    const ctx = document.getElementById('ventasChart').getContext('2d');
    const ventasChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: {{ departamentos|safe }},
            datasets: [{
                label: 'Cantidad de Ventas',
                data: {{ cantidades|safe }},
                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
<a href="{% url 'cargar_archivo' %}">Cargar otro archivo</a>
<a href="{% url 'resultado' %}">Ver Resultados XML</a>
{% endblock %}
